body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 10px 10%;
}

.navbar__account {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar__account > .image {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.main-content {
  display: flex;
  padding: 5px 10%;
  gap: 10px;
}

.questions__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.questions__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.card__side > .image {
  width: 50px;
  height: 50px;
  border: 1px dotted black;
}

.card__side .card__likes input {
  width: 50px;
}

.card__content .content__footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.card__content > a {
  font-size: 20px;
}

.sidebar {
  width: 20%;
}
