<div class="card">
  <div class="card-body d-flex gap-3">
    <div class="col-2">
      <div class="image border" style="height: 100px; width: 100px">
        <img src="img.jpg" alt="img" />
      </div>
      <div class="card__likes">
    {#        <input value="5" type="number" class="form-control" />#}
              <span data-like-counter="{{ q.id }}">{{ q.likes_count }}</span>
              <button class="btn btn-info" data-question-id="{{ q.id }}">Like</button>
      </div>
    </div>
    <div>
      <h5 class="card-title text-break">
        <a href="{% url 'question' q.id %}">{{ q.title }}</a>
      </h5>
      <p class="card-text text-break">{{ q.text }}</p>
      <div class="d-flex gap-2 align-items-center">
        <a href="#" class="btn btn-outline-success">Answers ({{ q.answer_set.count }})</a>
        <div class="footer__tags">
            {% for t in q.tags.all %}
                <a href="#">{{ t.name }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
